.container{
    min-width: 99%;
    margin: 0px;
    padding: 0px;
}

.imagenLogo{
    width: 150px;
    height: 40px;
}

img{
    background-color: white;
    width: 60%;
    height: 31%;
    cursor: pointer; 
    float: left;
    margin: 7px;
    background-color: red;
}

/*---navbar-----*/

.navbar{
    background-color: rgb(213, 213, 216);
}

.navbar-nav{
    margin-right: 3%;
}

.nav-item{
    margin-left: 31px;
}

/* @media (min-width: 992px){
    .navbar{
        background-color: rgb(195, 197, 197);
    }

 
} */

/*------------*/
.row1{
    height: 500px;
    text-align: center;
}

.columna1{
    border-style: solid;
    background-color: rgba(228, 194, 163, 0.842);
    width: 20%;
    min-width: 0%;
}

.columna2{
    border-style: solid;
    background-color: rgb(172, 139, 77);
    max-height: 80px;
    min-width: 40%;
}

.columna3{
    border-style: solid;
    background-color: rgba(228, 194, 163, 0.842);
    max-height: 80px;
    min-width: 40%;
}

/*--menu miperfil---*/

.dropdown-menu{
    margin-left: -60px;
    width: 201px;
    height: 170px;
}


 /*ACÃ COMIENZA CSS PARA SUBMENU*/

  .dropdown:hover > .dropdown-menu {
    display: block;
  }

  .datosMiPerfil{
    width: 100%;
    height: 100%;
  }

  .datosMiPerfil p{
    display: inline-block;
    padding: 0;
  }

  .datosMiPerfil img{
    width: 30%;
    height: 30%;
    margin-top: -7px;
    float: right;
    padding: 0;
  }

  .cerrarSesion{
    margin-top: 12%;
  }



/*-----------------*/



/*---- ventana modal ----*/

.modal{
    margin-top: 4%;
    transition: all 0.6s;
}

.modal-body{
    height: 500px;
    margin-bottom: 2%;
}

.modal-body button{ /* boton 'atras' */
    margin-left: 24%;
    margin-top: 1%;
}

.modal-dialog{
    min-width: 100%;
    min-width: 100%;
}

/*---------------*/

.fondoTexto{
    background-color: white;
    width: auto;
    height: 60px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(204, 182, 182);
    border-top: 1px solid rgb(204, 182, 182);
}

.fondoTexto p{
    margin-left: 40px;
    padding-top: 10px;
}

.fondoTexto a{
    color: rgb(64, 127, 199);
    font-weight: bold;
    cursor: pointer;
}

.nav-item a{ 
    cursor: pointer;
    font-weight: bold;
}

.nav-item a:hover{
    text-decoration: underline;
}