
/* seccion 3 */ 

.rowInteres{
    margin: 20px 70px 0 70px; /* Arriba | Derecha | Abajo | Izquierda */
    height: 100%;
    /* background-color: white; */
    border-radius: 3px;
    width: auto;
}


.columna{
    background-color: white;
    display: inline-block;
    /* margin-top: 20px; */
    margin-left: 10px;
    margin-bottom: 40px;
    width: 95%;
    height: 420px;
    border: 1px solid rgb(204, 182, 182);
}

.columna img{
    width: 100%;
    height: 250px;
    margin-top: 0px;
}

.columna:hover{
    transition: 120ms;
    width: 97%;
    border-bottom: 1px solid rgb(8, 1, 1);
    cursor: pointer;
    box-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.columna p{
    position: relative; 
    width: 100%;
    height: auto;
    margin-top: -65px;
    margin-bottom: 50px;
    margin-left: 12px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    color: white;
    font-size: 23px;
}

.descripcionAnuncio{
    margin-top: -25px;
    margin-right: 10px;
    /* background-color: blue; */
    height: 120px;
}

.descripcionAnuncio p{
    height: auto;
    font-size: 19px;
    margin-top: 2px;
    margin-bottom: 6px;
    color: black;
    text-shadow: none;
    /* background-color: blue; */
}

.descripcionAnuncio button{
    margin-top: 15px;
    margin-left: 12px;
    margin-bottom: 20px;
}
