<div class="row rowInteres">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="columna">
            <!-- valores ingresados -->
            <div>
              <div class="descripcionAnuncio" *ngFor="let item of cargarImg.objetoPublicacionService"> <!-- datos del usuario -->
                  <p>Numero de ambientes:</p>
                  <p>valor: {{item}}</p>
                  <p>Localidad</p>
                  <button>VER MAS</button>
              </div>
              
            
              <div *ngFor="let url of cargarImg.urls"> <!-- imagenes -->
                <img [src]="url" alt="">
              </div>
            </div>
        </div>
    </div>
</div>