<div class="row">
    <div class="col-md 6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Registro de cuenta</h1>
                <form>
                    <div class="form-group">
                        <label for="email">Ingresa tu email</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Ingresa tu contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <br>
                    <button>Registrar</button>
                </form>
                <!-- <div class="form-group mt-3">
                    <p>Ya tenes una cuenta? <a routerLink="/login">Logeate</a></p>
                </div> -->
            </div>
        </div>
    </div>
</div>