<div class="container">
    <div class="row">
        <div class="col">
            <button data-bs-toggle="modal" data-bs-target="#exampleModal2">Modal</button>
        </div>
        <div 
        class="modal fade"
        id="exampleModal2" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalLabel">
        
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><- Cerrar</button>
                  
                </div>
              </div>
            </div>
          </div>
    </div>
</div>