<form>
    <input type="text" placeholder="valor1" [(ngModel)]="valor1" [ngModelOptions]="{standalone: true}"><br><br>
    <input type="text" placeholder="valor2" [(ngModel)]="valor2" [ngModelOptions]="{standalone: true}"><br><br>

    <!-- imagen -->

    <div>
        <div *ngFor="let url of cargarImg.urls">
        <img [src]="url" alt="">
        </div>
    </div>
        
    <div class="subir">
        <label for="file-upload">
        <p>Examinar</p>
        </label>
        <input (change)="cargarImg.selecImg($event)" type="file" id="file-upload" style='display: none;' multiple>
    </div>

    <button (click)="enviar()">Enviar</button>
</form>